.heading{
    color: white;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
}

.copy_right_footer{
    background-color: grey;
    color:white;
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 17px;
    margin-top: 42%;
    position: fixed;
}

#note{
    color: black;
}

canvas{
    border:10px;
    box-shadow: 5px 5px 5px grey;
    width: 50%;
    margin-top: 22%;
}